<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 400px;">
      <div class="card-header">
        <i class="pi pi-user" style="font-size: 1.4rem; margin-right:1.5%;"></i>
        <h2 style="display: inline;"><b>Register</b></h2>
      </div>
      <div class="card-body">
        
        <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group mb-4">
                
                <label for="email">Email</label>
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                      <i class="pi pi-envelope"></i>
                  </span>
                  <input pInputText #emailInput="ngModel"  [(ngModel)]="user.email" required type="email" class="form-control" id="email" name="email" 
                  (input)="clearErrorMessage()" placeholder="Enter your email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
              </div>
                <div *ngIf="emailInput.touched && emailInput.invalid && emailInput.errors?.['required']" class="text-danger">
                    This field is required.
                </div>
                <div *ngIf="emailInput.touched && emailInput.invalid && emailInput.errors?.['pattern']" class="text-danger">
                    Please enter a valid email address.
                  </div>
            </div>
          <div class="form-group mb-4">
            <label for="username">Username</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-user"></i>
              </span>
              <input pInputText #usernameInput = "ngModel" required type="text" class="form-control" id="username" name = "username" placeholder="Enter your username" [(ngModel)]="user.userName" (input)="clearErrorMessage()">
          </div>
            <div *ngIf="usernameInput.touched && usernameInput.invalid && usernameInput.errors?.['required']" class="text-danger">
              This field is required.
          </div>
          </div>
          <div class="form-group mb-4">
            <label for="password">Password</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-lock"></i>
              </span>
              <input pInputText #passwordInput = "ngModel" required [type]="visible? 'text' : 'password'" class="form-control" id="password" name = "password" placeholder="Enter your password" [(ngModel)] = "user.hashPassword" (input)="clearErrorMessage()" >
              <button (click) = "togglePass()" type="button" pButton [icon]="visible ? 'pi pi-eye-slash' : 'pi pi-eye'" styleClass="p-button-warn"></button>

            </div>
            <div *ngIf="passwordInput.touched && passwordInput.invalid && passwordInput.errors?.['required']" class="text-danger">
                This field is required.
            </div>
        </div>
          <div class="form-group mb-4">
            <label for="confirmPassword">Confirm Password</label>
            <div class="p-inputgroup">
              <span class="p-inputgroup-addon">
                  <i class="pi pi-lock"></i>
              </span>
              <input pInputText #confirmPass= "ngModel" required [type]="confirmVisible? 'text' : 'password'" class="form-control" id="confirmPassword" name = "confirmPassword" placeholder="Confirm your password" [(ngModel)]="user.confirmPassword"(input)="clearErrorMessage()">
              <button (click) = "toggleConfirmPass()" type="button" pButton [icon]="confirmVisible ? 'pi pi-eye-slash' : 'pi pi-eye'" styleClass="p-button-warn"></button>

            </div>
            <div *ngIf="passwordInput.touched && confirmPass.touched && passwordInput.value != confirmPass.value &&passwordInput.value && confirmPass.value" class="text-danger mb-2" >
              Passwords don't match.
          </div>
            <div *ngIf="confirmPass.touched && confirmPass.invalid && confirmPass.errors?.['required']" class="text-danger">
              This field is required.
          </div>
    
          </div>
          <div *ngIf="errorMessage"class="text-danger mb-4" >
            {{errorMessage}}
        </div>
        <div class="text-center">
          <button type="submit"  [disabled]="!form.valid || passwordInput.value != confirmPass.value " class="btn btn-primary btn-block">Register</button>
        </div>
        </form>
        <div class="mt-3 text-center">
            Already have an account? <a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
  